# Python
**/__pycache__/
*.pyc

# Node
**/node_modules/

# Local DB
*.db
backend/data/*.db

# Environment files
.env
backend/.env
frontend/.env

# Build artifacts
frontend/dist/


**/identity/
openclaw\data\.openclaw\*.bak
openclaw\data\.openclaw\agents\main\sessions\

**/old/